// component styles are encapsulated and only applied to their components
.form_bg {
    background-color:#eee;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 330px;
}

.align-center {
    
    text-align:center;
}
[hidden] {
    visibility: hidden!important;
    display: block!important;
}